.about {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
    gap: 5rem
}

.about .text {
    width: 40%;
}

.about .text p {
    text-align: justify;
    font-size: 1.25rem;
}

.about img {
    width: 50%;
    border-radius: 15px;
}