.header {
    background: #322d2d;
    margin-top: 3rem;
    padding: 3rem 5rem;
    color: white;
    display: flex;
    gap: 5rem;
    justify-content: space-around;
}

aside {
    padding: 2rem;
    width: 50%;
}

aside h1 {
    font-size: 3rem;
    margin: 0;
}

aside h3 {
    font-size: 1.5rem;
    margin: 0;
}

aside p {
    padding: 3rem 0;
    margin: 0;
}

aside button {
    background: yellow;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 15rem;
    height: 3rem;
    border-radius: 15px;
    color: green;
}

.image {
    width: 35rem;
    background: white;
    border-radius: 12px;
}

.image img {
    height: 25rem;
    width: 94%;
    margin: 1rem;
    object-fit: cover;
    border-radius: 12px;
}

